.icons:hover {
  cursor: pointer;
  .icon:hover {
    color: gray;
  }
}
.icon {
  .eye {
    color: black;
    &:hover {
      color: gray;
    }
  }
}
@media only screen and (max-width: 750px) {
  .table {
    overflow: auto;
    display: inline-block;
    .table-responsive {
      overflow: scroll;
    }

    th,
    td {
      white-space: nowrap;
    }
  }
}
