.submit-btn {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
  bottom: 8rem;
  left: -45%;
  &:hover {
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }
}
