#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@font-face {
  font-family: "Vazir";
  src: local("Vazir") url(../font/Vazir.ttf) format("truetype");
}
* {
  font-family: Vazir;
}
